h1{
	color:green;
	text-align: center;
}
h2{
	color:red;
	text-align: center;
}
#p1{
	color:blue;
	text-align: center;
}
#p2{
	color: red;
	text-align: center;}
.d1{
	color:green;
	text-align: center;
}
div.d2{
	color:red;
	text-align: center;
}
