h1{
	color : red;
	text-decoration : underline overline;
}
h2{
	color : green;
	text-decoration : underline;
}
p{
	color : orange;
	text-align : right;
	text-decoration: line-through;
}
div{
	color : blue;
	text-align : center;
	text-decoration : overline;
}
